#
# HAX beloww
#
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ctdb-shared
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: rook-cephfs
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: samba-share-data
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: rook-cephfs
  resources:
    requests:
      storage: 2Gi
---
# The pod itself.
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: samba-ctdb-example
  name: ctdb-0
spec:
  shareProcessNamespace: true
  initContainers:
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: init
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "--skip-if-file=/var/lib/ctdb/shared/nodes"
      - "init"
      env:
      - name: HOSTNAME
        value: ctdb-0
      securityContext:
        allowPrivilegeEscalation: true
      volumeMounts:
      - mountPath: "/var/lib/samba"
        name: samba-state-dir
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: import
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "--skip-if-file=/var/lib/ctdb/shared/nodes"
      - "import"
      env:
      - name: HOSTNAME
        value: ctdb-0
      securityContext:
        allowPrivilegeEscalation: true
      volumeMounts:
      - mountPath: "/var/lib/samba"
        name: samba-state-dir
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: import-users
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "--skip-if-file=/var/lib/ctdb/shared/nodes"
      - "import-users"
      env:
      - name: HOSTNAME
        value: ctdb-0
      securityContext:
        allowPrivilegeEscalation: true
      volumeMounts:
      - mountPath: "/var/lib/samba"
        name: samba-state-dir
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: ctdb-migrate
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "--skip-if-file=/var/lib/ctdb/shared/nodes"
      - "ctdb-migrate"
      - "--dest-dir=/var/lib/ctdb/persistent"
      env:
      - name: HOSTNAME
        value: ctdb-0
      securityContext:
        allowPrivilegeEscalation: true
      volumeMounts:
      - mountPath: "/var/lib/samba"
        name: samba-state-dir
      - mountPath: "/var/lib/ctdb/persistent"
        name: ctdb-persistent
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: ctdb-set-node
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "ctdb-set-node"
      - "--hostname=$(HOSTNAME)"
      - "--node-number=$(NODE_NUMBER)"
      env:
      - name: HOSTNAME
        value: ctdb-0
      - name: NODE_NUMBER
        value: "0"
      securityContext:
        allowPrivilegeEscalation: true
      volumeMounts:
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
      - mountPath: "/etc/ctdb"
        name: ctdb-config
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: ctdb-must-have-node
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "ctdb-must-have-node"
      - "--node-number=$(NODE_NUMBER)"
      env:
      - name: HOSTNAME
        value: ctdb-0
      - name: NODE_NUMBER
        value: "0"
      securityContext:
        allowPrivilegeEscalation: true
      volumeMounts:
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
      - mountPath: "/etc/ctdb"
        name: ctdb-config
  containers:
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: ctdb
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "run"
      - "ctdbd"
      - "--setup=smb_ctdb"
      - "--setup=ctdb_config"
      - "--setup=ctdb_etc"
      - "--setup=ctdb_nodes"
      env:
      - name: HOSTNAME
        value: ctdb-0
      volumeMounts:
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
      - mountPath: "/var/lib/ctdb/persistent"
        name: ctdb-persistent
      - mountPath: "/var/lib/ctdb/volatile"
        name: ctdb-volatile
      - mountPath: "/etc/ctdb"
        name: ctdb-config
      - mountPath: "/var/run/ctdb"
        name: ctdb-sockets-dir
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: ctdb-manage-nodes
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "ctdb-manage-nodes"
      - "--node-number=$(NODE_NUMBER)"
      env:
      - name: HOSTNAME
        value: ctdb-0
      - name: NODE_NUMBER
        value: "0"
      volumeMounts:
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
      - mountPath: "/etc/ctdb"
        name: ctdb-config
      - mountPath: "/var/run/ctdb"
        name: ctdb-sockets-dir
    - image: quay.io/samba.org/samba-server:ctdb
      imagePullPolicy: Always
      name: smb
      args:
      - "--config=/usr/local/share/sambacc/examples/ctdb.json"
      - "--id=demo"
      - "--debug-delay=10"
      - "run"
      - "smbd"
      - "--setup=users"
      - "--setup=smb_ctdb"
      env:
      - name: HOSTNAME
        value: ctdb-0
      ports:
      - containerPort: 445
        hostPort: 455
        protocol: TCP
        name: "smb"
      securityContext:
        allowPrivilegeEscalation: true
      volumeMounts:
      - mountPath: "/share"
        name: samba-share-data
      - mountPath: "/var/lib/ctdb/shared"
        name: ctdb-shared
      - mountPath: "/var/lib/ctdb/persistent"
        name: ctdb-persistent
      - mountPath: "/var/lib/ctdb/volatile"
        name: ctdb-volatile
      - mountPath: "/etc/ctdb"
        name: ctdb-config
      - mountPath: "/var/run/ctdb"
        name: ctdb-sockets-dir
  volumes:
  # /etc/ctdb
  - emptyDir: {}
    name: ctdb-config
  # /var/lib/ctdb/persistent
  - emptyDir: {}
    name: ctdb-persistent
  # /var/lib/ctdb/volatile
  - emptyDir: {}
    name: ctdb-volatile
  # /var/lib/ctdb/shared
  - persistentVolumeClaim:
      claimName: ctdb-shared
    name: ctdb-shared
  # /var/run/ctdb
  - emptyDir:
      medium: Memory
    name: ctdb-sockets-dir
  # /var/lib/samba
  - emptyDir: {}
    name: samba-state-dir
  # /share
  - persistentVolumeClaim:
      claimName: samba-share-data
    name: samba-share-data
